body {
	padding-left: 10px;
	background-color: rgb(14, 14, 14);
}

h1, p { color: whitesmoke;}

#movies-container {
	margin: 10px 0;
}

.movie {
	float: left;
	position: relative;
}

.movie img {
	width: 92px;
	height: 138px;
}

.title-card {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(12,12,12,0.8);
	padding: 5px;
	text-align: center;
	color: whitesmoke;
	font-size: 12px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: none;
	line-height: 1.4em;
	font-weight: bold;
}

.movie:hover .title-card {
	display: block;
}