.text-core {
  position: relative;
}
.text-core .text-wrap {
  background: #fff;
  position: absolute;
}
.text-core .text-wrap textarea,
.text-core .text-wrap input {
/*  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
/*  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;*/
  border: 1px solid #9daccc;
  outline: none;
  resize: none;
  position: absolute;
  z-index: 1;
  background: none;
  overflow: hidden;
  margin: 0;
/*  padding: 3px 5px 4px 5px;*/
  white-space: nowrap;
/*  font: 11px "lucida grande", tahoma, verdana, arial, sans-serif;*/
/*  line-height: 13px;*/ /*inherit*/
  height: auto;
}
.text-core .text-wrap .text-dropdown {
/*  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
  padding: 0;
  position: absolute;
  z-index: 3;
  background: #fff;
  border: 1px solid #9daccc;
  width: 103%;
  max-height: 100px;
  padding: 1px;
/*  font: 11px "lucida grande", tahoma, verdana, arial, sans-serif;*/
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}
/*.text-core .text-wrap .text-dropdown.text-position-below {
  margin-top: 1px;
}
.text-core .text-wrap .text-dropdown.text-position-above {
  margin-bottom: 1px;
}*/
.text-core .text-wrap .text-dropdown .text-list .text-suggestion {
  padding: 3px 5px;
  cursor: pointer;
}
.text-core .text-wrap .text-dropdown .text-list .text-suggestion em {
  font-style: normal;
  text-decoration: underline;
}
.text-core .text-wrap .text-dropdown .text-list .text-suggestion.text-selected {
  color: #fff;
  background: #6d84b4;
}